<div class="acontent-tabela_usuarios">
    <div class="conatiner_pesquisa">
        <form class="pesquisa-usuario" action="/" method="GET">
            <input type="search" name="" id="">
            <button type="submit"><i class='bx bx-search'></i></button>
        </form>
    </div>
    <table class="tabela__usuarios">
        <thead>
            <tr class="tabelaDados">
                <th class="tagName">#</th>
                <th class="tagName">Nome</th>
                <th class="tagName">Email</th>
                <th class="tagName">Cargo</th>
                <th class="tagName">Data</th>
                <th class="tagName">ID</th>
                <th class="tagName">Ações</th>
            </tr>
        </thead>
        <tbody id="contagem-usuarios" class="tabela_overflow">
            {{#each dados}}
                <tr class="tabelaDados">
                    <td class="tagDados"></td>
                    <td class="tagDados">{{nome}}</td>
                    <td class="tagDados">{{email}}</td>
                    <td class="tagDados">{{cargo}}</td>
                    <td class="tagDados">{{#formatDate data}}{{/formatDate}}</td>
                    <td class="tagDados">{{_id}}</td>
                    <td class="tagDados action">
                        <a class="btn_action" href="" target="_blank">
                            <i class='bx bxs-edit-location'></i>
                        </a>
                        <a class="btn_action" href="">
                            <i class='bx bxs-trash-alt'></i>                        
                        </a>
                    </td>
                </tr>
            {{else}}
            {{/each}}
        </tbody>
    </table>
</div>