<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--========== ICON ==========-->
        <link rel="shortcut icon" type="imagex/png" href="/img/coin.ico">
        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/painel.css">
        <link rel="stylesheet" href="/css/giro.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/erroMsg.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/erro404.css">
        <link rel="stylesheet" href="/css/usuarios.css">
        <link rel="stylesheet" href="/css/inicio.css">
        <link rel="stylesheet" href="/css/bot.css">
        <link rel="stylesheet" href="/css/responsivo.css">
        <!--========== JS ==========-->
        <script defer src="/js/main.js"></script>
        <script defer src="/js/navbar.js"></script>
        <script defer src="/js/painel.js"></script>
        <script defer src="/js/registro.js"></script>
        <script defer src="/js/login.js"></script>
        <script defer src="/js/giros.js"></script>
        <script defer src="/js/navbar.js"></script>
        <script defer src="/js/painelUsuarios.js"></script>
        <!--========== TITULO ==========-->
        <title>CliqueCoin</title>
        <!--========== ANUNCIOS ==========-->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2871517043341115" crossorigin="anonymous"></script>
    </head>
    <body>
        {{#if cargo}}
            {{>_navbarRoot}}
                <div class="pagina grid-container">
                {{#if error}}
                    <div class="alert error_msg">{{error}}</div>
                {{else}}
                {{/if}}
                {{>_msg}}
                {{{body}}}
                </div>
        {{else}}
            {{>_navbar}}
            <div class="pagina grid-container">
                {{#if error}}
                    <div class="alert error_msg">{{error}}</div>
                {{else}}
                {{/if}}
                {{>_msg}}
                {{{body}}}
            </div>
            {{>_footer}}
        {{/if}}
    </body>
</html>